
.contextMenuContainer > ul
{
	list-style-type: none;
	margin: 5px;
	padding-left: 0px;
}

.contextMenuContainer > ul > li
{
	cursor: pointer;
	user-select: none;

	display:flex;
	flex-direction: row;
	align-items: center;

	margin: 4px;
	padding: 10px 25px 10px 5px;
}

.contextMenuContainer > ul > li:hover
{
	background-color: #d3d3d3;
}