.clientContainer
{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.clientHeader
{
	background-color: lightsteelblue;
	height: 10%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.clientTitle
{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
}

.clientDetails
{
	font-size: 14px;
	text-align: center;
	margin: 0;
}

.clientStatus
{
	width: 100%;
	height: 88%;

	flex: 1 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clientTools
{
	background-color: lightgray;
	height: 2%;
}

.clientStatusContainer
{
	position: relative;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.clientStatusContent
{
	width: 100%;
	height: 100%;
	background-color: lightcyan;
}

.clientStatusContentBG.server_bg_image
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.25;
	background-size:100% 100%;
}

.clientStatusContentBG.server_bg_image.NONE
{
	opacity: 0.85;
}

.clientStatusContentBG.NONE
{

}
.clientStatusContentBG.COUNTDOWN
{
	
}
.server_aws_ohio .clientStatusContentBG.LISTENING,
.server_aws_california .clientStatusContentBG.LISTENING,
.server_aws_paris .clientStatusContentBG.LISTENING,
.server_aws_dublin .clientStatusContentBG.LISTENING,
.server_aws_tokyo .clientStatusContentBG.LISTENING,
.server_aws_brazil .clientStatusContentBG.LISTENING
{
	opacity: 0.85;
	background-image: url('/public/images/server_listening.png');
}

.clientStatusContentBG.SENDING
{
	
}
.clientStatusContentBG.RECEIVED
{
	
}
.clientStatusContentBG.RESULTS
{
	
}

.server_aws_california .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_california_bg.png');
}

.server_aws_ohio .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_ohio_bg.png');
}

.server_aws_paris .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_paris_bg.png');
}

.server_aws_dublin .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_dublin_bg.png');
}

.server_aws_tokyo .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_tokyo_bg.png');
}

.server_aws_brazil .clientStatusContentBG
{
	background-image: url('/public/images/server_aws_brazil_bg.png');
}

.clientStatusTitle
{
	padding: 25px;

	font-size: 20px;
	font-weight: bold;
	align-items: center;
	text-align: center;
}

.countDownNumber
{
	font-size: 50px;
	font-weight: bold;
}

.ERROR .clientStatusTitle
{
	color: red;
}

.INITIALIZING .clientStatusTitle
{
	color: blue;
}

.CONNECTING .clientStatusTitle
{
	color: green;
}

.CONNECTED .clientStatusTitle
{
	color: green;
}

.COUNTDOWN .clientStatusTitle
{
	color: lightblue;
}

.LISTENING .clientStatusTitle
{
	color: purple;
}

.SENDING .clientStatusTitle
{
	color: orchid;
}

.RESULTS .clientStatusTitle
{
	color: greenyellow;
}

.DISCONNECTED .clientStatusTitle
{
	color: red;
}

.clientStatusContent.NONE
{
	background-color: rgb(222, 228, 235);
}

.clientStatusContent.COUNTDOWN
{
	background-color: yellow;
}

.clientStatusContent.LISTENING
{
	background-color: lightgoldenrodyellow;
}

.clientStatusContent.SENDING
{
	background-color: lightseagreen;
}

.clientStatusContent.RECEIVED
{
	background-color: lightgreen;
}

.clientStatusContent.RESULTS
{
	background-color: lightgreen;
}